{% extends "userbase.html" %}
{% block title %}Getting started{% endblock %}
{% block menu %}
  <li class="active"><a href="/">Home</a></li>
  <li><a href="{{logout_url}}">Log Out</a></li>
{% endblock %}
{% block body %}
  <h2>Getting started</h2>
  <p>Congruatulations! You've logged in to Tweet Engine.</p>
  <p>What now, you may ask? You have two options:</p>
  
  <ul>
    <li>Ask your friend/boss/spouse to add you as a user on one of their Twitter
    accounts.</li>
    <li><a href="/add">Add your own account</a></li>
  </ul>
{% endblock %}
