{% extends "userbase.html" %}
{% block title %}{{current_account.username}} - Account Info{% endblock %}
{% block body %}
  <div id="tweetbox">
      <p id="tweetlabel">140</p>
      <h2>What's happening with {{current_account.username}}?</h2>
      <form action="/{{current_account.username}}/tweet" method="post">
       <div> 
         <textarea id="tweetarea" name="tweet" ></textarea>
         <input id="tweetsubmit" type="submit" value="Submit" />
       </div>
      </form>
  </div>

  <h2>Unsent tweets</h2>
  <form method="POST" action="/{{current_account.username}}/">
      <table class="display">
        <tr><th>Send</th><th>Delete</th><th>Leave</th><th>Tweet message</th></tr>
        {% for tweet in tweets %}
            <tr>
              <td class="field"><input type="radio" name="tweet.{{tweet.key.id}}" value="send" /></td>
              <td class="field"><input type="radio" name="tweet.{{tweet.key.id}}" value="delete" /></td>
              <td class="field"><input type="radio" name="tweet.{{tweet.key.id}}" value="leave" /></td>
              <td>{{tweet.message}}</td>
            </tr>
        {% endfor %}
      </table>
      <input type="submit" value="Submit" />
  </form>

{% endblock %}
  
