{% extends "base.html" %}
{% block title %}TweetEngine global settings{% endblock %}
{% block body %}
  <h2>Global Settings</h2>
  {% if saved %}
  <p class="notification">Settings saved.</p>
  {% endif %}
  <form action="/admin" method="post" id="global-settings-form">
      <div class="field">
          <label for="twitterapisecret">Twitter API Secret</label>
          <input type="text" name="twitterapisecret" value="{{cfg.oauth_secret}}"/>
      </div>
      <div class="field">
          <label for="twitterapikey">Twitter API Key</label>
          <input type="text" name="twitterapikey" value="{{cfg.oauth_key}}"/>
      </div>
      <div class="field submit">
           <input name="settings" type="submit" value="save" />
           <input name="settings.cancel" type="submit" value="cancel" />
      </div>      
  </form>
{% endblock %}