#logo {
	padding-top: 10px;
	height: 81px;
}
#logo h2 {
	margin: 0;
}
div.field {
    clear: right;
    float: left;
    left: 0;
    margin: 0 2em 1em 0 !important;
    top: 0;
}
div.field label {
    display: block;
    float: left;
    padding-top: 0.5em;
    width: 140px;
}
div.field input[type="text"] {
	width: 190px;
}
div.field.submit {
	clear: both;
	padding-left: 140px;
}
img {
	border: none;
}
#tweetbox {
    width: 500px;
}
#tweetarea {
    width: 500px;
    height: 50px;
    font-size: 1.3em;
}
#tweetlabel {
    float: right;
    margin: 0;
}
#tweetlabel.tweet-oversize {
	color: red;
}
.selected {
	background: #CCCCCC;
}
